.env
.env.*
!.env.example
node_modules/
node_modules/*
.nuxt/
.output/
dist/
docs/
docs/*

data/templates/*
!data/templates/.gitkeep
data/backup/*
!data/backup/.gitkeep
data/*.db
data/*.db-wal
data/*.db-shm
data/SQLite.md
!data/turbomailer_demo.db
private
private/*

public/uploads/*